{% extends 'mydjangoapp/base.html' %}

{% block title %}Update Delivery Status{% endblock %}

{% block content %}
<h1>Update Delivery Status</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="delivery_status">Delivery Status:</label>
        <input type="text" name="delivery_status" id="delivery_status" class="form-control" value="{{ delivery.delivery_status }}">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
